#about-div{
    height: 100%;
    width: 100vh;
    text-align: center;
}
#latwo-h1{
    font-family: papyrus ,fantasy;
}
#main-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    /* border: yellow solid 1px; */
    border-radius: 65px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container h1,p{
    margin-left: 100px;
}
.img{
    max-width: 80%;
    max-height: 90%;
    border-radius: 10px;
}
.image-div{
    width: 40%;
    height: 100vh;
    background-image: url(../img/img-spots.png);
    /* border: 1px solid red; */
}
#img-1{
    height: 480px;
    width: 400px;
    margin-top: 90px;
    margin-left: 140px;
}
#img-1-div{
    height: 505px;
    width: auto;
    margin-left: 250px;
    margin-top: 0px;
}
#img-2{
    height: 500px;
    position: absolute;
    left: 114px;
    margin-top: 80px;
}
#img-2-div{
    margin-left: 220px;
    padding-right: 150px;
    height: 505px;
    width: 450px;
}
#img-3{
    width: 450px;
    height: 450px;
    margin-left: 138px;
    margin-top: 90px;
}
#img-3-div{
    margin-top: 10px;
    margin-left: 180px;
    height: 510px;
}
#img-4{
    position: absolute;
    margin-top: 90px;
    height: 450px;
    width: 500px;
    left: 98px;
}
#img-4-div{
    margin-left: 310px;
    padding-right: 130px;
    width: 360px;
    height: 500px;
}
#img-5{
    position: absolute;
    margin-top: 100px;
    margin-left: 140px;
    height: 450px;
    width: 500px;
}
#img-5-div{
    margin-top: 0px;
    margin-left: 160px;
    height: 500px;
}
#img-6{
    position: absolute;
    margin-top: 90px;
    height: 480px;
    width: 530px;
    left: 75px;
}
#img-6-div{
    height: 500px;
    width: 360px;
    margin-left: 340px;
    padding-right: 150px;
    margin-top: 30px;
}
#img-7{
    position: absolute;
    height: 600px;
    width: 550px;
    margin-top: 90px;
    margin-left: 140px;
}
#img-7-div{
    margin-left: 130px;
    height: 500px;
}
.our-details-div{
    height: auto;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    /* border: 1px solid white; */
}
.our-details-div p{
    color: grey;
    font-size: 30px;
}
.our-details-div span{
    color: rgb(245 234 100);
}
.our-details-div h1{
    font-size: 55px;
}

@media (max-width: 450px){
    #about-div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 0px;
    }
    .our-details-div{
        width: 85%;
        margin-left: 20px;
    }
}

/* .right{
    animation-name: theRight;
    animation-duration: 1s;
}
@keyframes theRight {
    0%{
        position: relative;
        left: calc(40%);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        position: relative;
        left: 0%;
        opacity: 1;
    }
}
.left{
    animation-name: theLeft;
    animation-duration: 1s;
}
@keyframes theLeft {
    0%{
        position: relative;
        right: calc(40%);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        position: relative;
        right: 0%;
        opacity: 1;
    }
} */