#emailDiv{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    /* background-color: rgb(203, 146, 54); */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
#emailDiv span{
    color: rgb(223, 223, 20);
}
#container{
    width: 90%;
    height: 60%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction:column; */
    border-radius: 25px;
    border: rgb(245 234 100) solid 2px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.yellow-div{
     width: 100%;
     height: 130px;
    background-color: rgb(245 234 100);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.yellow-div h1{
    color: white;
    /* margin-left: 25%;
    margin-right: 25%; */
    width: 75%;
    
}
#emailDiv #container h1{
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 15px;
    /* color: rgb(240, 248, 6); */
}
.details{
    height: 40px;
    width: 40%;
    margin-bottom: 15px;
    border: black solid 2px;
    border-radius: 7px;
    margin-top: 10px;
    font-size: 20px;
}
.small{
    width: 19%;
    margin: 0px 9px 10px 9px;
    display: inline;
}
.details::placeholder{
    color: gray;
    padding-left: 15px;
    font-size: large;
}
.details:focus{
    border: none;
    /* background-color: rgb(155, 3, 3); */
}
#emailDiv button{
    width: 100px;
    height: 39px;
    background-color: rgb(245 234 100);
    color: aliceblue;
    border: none;
    margin-top: 05px;
    margin-bottom: 20px;
    border-radius: 5px;
}
#emailDiv button:hover{
    background-color: rgb(245, 234, 130);
    border: white solid 1px; 
}